
@{
    ViewBag.Title = "Truy vấn thông tin hóa đơn";
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Truy vấn thông tin hóa đơn</h4>
        </div>
    </div>
</div>
<div class="row">
    <div id="frmSearch" class="col-sm-12">
        <h4 class="header-title">THÔNG TIN</h4>
        <p class="m-b-30"></p>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">serviceCode</label>
                    <div class="col-md-6" id="frmserviceCode">
                        <input class="form-control" type="text" placeholder="serviceCode" name="serviceCode" id="serviceCode" value="" />
                    </div>
                    <label class="col-md-2 col-form-label">Ví dụ: POWE</label>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">providerCode</label>
                    <div class="col-md-6" id="frmProviderCode">
                        <input class="form-control" type="text" placeholder="providerCode" name="providerCode" id="providerCode" value="" />
                    </div>
                    <label class="col-md-2 col-form-label">Ví dụ: EVNHCM</label>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">billCode</label>
                    <div class="col-md-6">
                        <input class="form-control" type="text" placeholder="billCode" name="billCode" id="billCode" value="" />
                    </div>
                    <label class="col-md-2 col-form-label">Ví dụ: PE01000060919</label>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-2 offset-md-2">
                        <input type="button" class="btn btn-custom form-control" onclick="Process()" value="Tìm kiếm" />
                    </div>
                    <div class="col-md-8"></div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 100px; overflow: auto;">
            <div class="col-md-12">
                <table id="lst" style="border: 1px solid black;">
                    <thead>

                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'yyyy/mm/dd'
            });
            LoadAllProvider();
        })
        function resetTable() {
            $('#lst').html("<thead></thead> <tbody></tbody>");
        }
        function LoadAllProviderPartner(data) {
            var inputdata = {};
            inputdata['serviceCode'] = data;
            $.ajax({
                url: '/Home/selectPartnerProviderCodeBuildCombobox',
                type: 'POST',
                data: { info: inputdata },
                cache: false,
                beforeSend: function () {
                    blockUI();
                    //resetTable();
                },
                success: function (rs) {
                    unBlockUI();
                    if (rs.IsOk) {
                        $('#frmProviderCode').html('').html(rs.dataObj);
                        
                    }
                    else {
                        if (rs.dataErr != undefined) {
                            if (rs.dataErr.httpCode != undefined) {
                                swal({
                                    title: "Thông báo",
                                    text: rs.dataErr.httpMessage + " - " + rs.dataErr.moreInformation,
                                    type: 'info',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                });
                                return;
                                //alert(rs.dataErr.httpMessage + " - " + rs.dataErr.moreInformation);
                            }
                            else if (rs.dataErr.error != undefined) {
                                if (rs.dataErr.error.details != undefined) {
                                    swal({
                                        title: "Thông báo",
                                        text: rs.dataErr.error.details + " - " + rs.dataErr.error.location,
                                        type: 'info',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    });
                                    return;
                                }
                                else {
                                    swal({
                                        title: "Thông báo",
                                        text: rs.dataErr.error + " - " + rs.dataErr.error_description,
                                        type: 'info',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    });
                                    return;
                                }
                                //alert(rs.dataErr.error.details + " - " + rs.dataErr.error.location);
                            }
                        }
                        else {
                            swal({
                                title: "Thông báo",
                                text: rs.Msg,
                                type: 'info',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            });
                            return;
                        }
                    }
                },

            });
        }

        function LoadAllProvider() {
            $.ajax({
                url: '/Home/selectPartnerServiceCodeBuildCombobox',
                type: 'POST',
                cache: false,
                beforeSend: function () {
                    blockUI();
                    //resetTable();
                },
                success: function (rs) {
                    unBlockUI();
                    if (rs.IsOk) {
                        $('#frmserviceCode').html('').html(rs.dataObj);
                        $('#serviceCode').on('change', function () {
                            var valdata = $(this).val();
                            LoadAllProviderPartner(valdata);
                        });
                        LoadAllProviderPartner($('#serviceCode').val());
                    }
                    else {
                        if (rs.dataErr != undefined) {
                            if (rs.dataErr.httpCode != undefined) {
                                swal({
                                    title: "Thông báo",
                                    text: rs.dataErr.httpMessage + " - " + rs.dataErr.moreInformation,
                                    type: 'info',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                });
                                return;
                                //alert(rs.dataErr.httpMessage + " - " + rs.dataErr.moreInformation);
                            }
                            else if (rs.dataErr.error != undefined) {
                                if (rs.dataErr.error.details != undefined) {
                                    swal({
                                        title: "Thông báo",
                                        text: rs.dataErr.error.details + " - " + rs.dataErr.error.location,
                                        type: 'info',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    });
                                    return;
                                }
                                else {
                                    swal({
                                        title: "Thông báo",
                                        text: rs.dataErr.error + " - " + rs.dataErr.error_description,
                                        type: 'info',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    });
                                    return;
                                }
                                //alert(rs.dataErr.error.details + " - " + rs.dataErr.error.location);
                            }
                        }
                        else {
                            swal({
                                title: "Thông báo",
                                text: rs.Msg,
                                type: 'info',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            });
                            return;
                        }
                    }
                },

            });
        }
        
        function Process() {
            var frm = $('#frmSearch');
            var inputdata = {};
            $(frm).find('input, select').each(function () {
                inputdata[$(this).attr('id')] = $(this).val();
            });
            $.ajax({
                url: '/Home/retrievePartnerBill',
                type: 'POST',
                cache: false,
                data: { info: inputdata  },
                beforeSend: function () {
                    blockUI();
                    resetTable();
                },
                success: function (rs) {
                    unBlockUI();
                    if (rs.IsOk) {
                        var dataObj = JSON.parse(rs.dataObj);
                        if (dataObj.data != undefined) {
                            buildHeader(dataObj.data);
                        }
                        //for (var i = 0; i < rs.dataObj.length; i++) {
                        buildBody(dataObj.data);
                        //}
                    }
                    else {
                        dataErr = JSON.parse(rs.dataErr);
                        if (dataErr != undefined) {
                            if (dataErr.httpCode != undefined) {
                                swal({
                                    title: "Thông báo",
                                    text: dataErr.httpMessage + " - " + dataErr.moreInformation,
                                    type: 'info',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                });
                                return;
                                //alert(rs.dataErr.httpMessage + " - " + rs.dataErr.moreInformation);
                            }
                            else if (dataErr.error != undefined) {
                                if (dataErr.error.details != undefined) {
                                    swal({
                                        title: "Thông báo",
                                        text: dataErr.error.details + " - " + dataErr.error.location,
                                        type: 'info',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    });
                                    return;
                                }
                                else {
                                    swal({
                                        title: "Thông báo",
                                        text: dataErr.error + " - " + dataErr.error_description,
                                        type: 'info',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    });
                                    return;
                                }
                                //alert(rs.dataErr.error.details + " - " + rs.dataErr.error.location);
                            }
                        }
                        else {
                            swal({
                                title: "Thông báo",
                                text: rs.Msg,
                                type: 'info',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            });
                            return;
                        }
                    }
                },

            });
        }

        function buildHeader(obj) {
            var tr = '<tr>';
            for (var i = 0; i < Object.keys(obj).length; i++) {
                tr += '<th style="border: 1px solid black;">' + Object.keys(obj)[i] + '</th>';
            }

            tr += '</tr>';
            $('#lst thead').append(tr);
        }
        function buildBody(obj) {
            var tr = buildStringBody(obj, 0);

            $('#lst tbody').append(tr);
        }

        function buildStringBody(obj, subBD) {
            if (obj != null) {
                if (subBD > 0) {
                    if (typeof obj === 'object') {
                        var tr = '<ul>';
                        for (var i = 0; i < Object.keys(obj).length; i++) {
                            if (typeof obj[Object.keys(obj)[i]] === 'object') {
                                tr += buildStringBody(obj[Object.keys(obj)[i]], 1);
                            }
                            else {
                                if (isNaN(obj[Object.keys(obj)[i]]) && obj[Object.keys(obj)[i]].indexOf('Date(') >= 0) {
                                    var ts = obj[Object.keys(obj)[i]].replace('/Date(', '').replace(')/', '');
                                    var date = new Date(Number(ts));
                                    tr += '<li>' + Object.keys(obj)[i] + ": " + date.getDay() + "-" + date.getMonth() + "-" + date.getFullYear() + '</li>';
                                }
                                else {
                                    tr += '<li>' + Object.keys(obj)[i] + ": " + obj[Object.keys(obj)[i]] + '</li>';
                                }
                            }
                        }
                        tr += '</ul>';
                        return tr;
                    }
                    else {
                        var objSerialize = JSON.parse(obj);
                        var tr = '<ul>';
                        for (var i = 0; i < Object.keys(objSerialize).length; i++) {
                            if (typeof objSerialize[Object.keys(objSerialize)[i]] === 'object') {
                                tr += buildStringBody(objSerialize[Object.keys(objSerialize)[i]], 1);
                            }
                            else {
                                if (isNaN(objSerialize[Object.keys(objSerialize)[i]]) && objSerialize[Object.keys(objSerialize)[i]].indexOf('Date(') >= 0) {
                                    var ts = obj[Object.keys(objSerialize)[i]].replace('/Date(', '').replace(')/', '');
                                    var date = new Date(Number(ts));
                                    tr += '<li>' + Object.keys(obj)[i] + ": " + date.getDay() + "-" + date.getMonth() + "-" + date.getFullYear() + '</li>';
                                }
                                else {
                                    tr += '<li>' + Object.keys(objSerialize)[i] + ": " + obj[Object.keys(objSerialize)[i]] + '</li>';
                                }
                            }
                        }
                        tr += '</ul>';
                        return tr;
                    }
                }
                else {
                    var tr = '<tr>';
                    for (var i = 0; i < Object.keys(obj).length; i++) {
                        if (typeof obj[Object.keys(obj)[i]] === 'object') {
                            tr += '<td style="border: 1px solid black;">' + buildStringBody(obj[Object.keys(obj)[i]], 1) + '</td>';
                        }
                        else {
                            if (isNaN(obj[Object.keys(obj)[i]]) && obj[Object.keys(obj)[i]].indexOf('Date(') >= 0) {
                                var ts = obj[Object.keys(obj)[i]].replace('/Date(', '').replace(')/', '');
                                var date = new Date(Number(ts));
                                tr += '<td style="border: 1px solid black;">' + date.getDay() + "-" + date.getMonth() + "-" + date.getFullYear() + '</td>';
                            }
                            else {
                                tr += '<td style="border: 1px solid black;">' + obj[Object.keys(obj)[i]] + '</td>';
                            }
                        }
                    }
                    tr += '</tr>';
                    return tr;
                }
            }
        }
    </script>
}